html, body {
    background-color: #7a98af;
    margin-bottom: 0px;
}
body {
    background-color: white;
}
form {
    background-color: white;
    flex-direction: column;
    padding: 0 9.25% 3rem 9.25%;
}
    .submit {
        margin-top: 1rem;
        border:1px solid #3B628B;
    }

.body-content {
    background-color: white;
    padding-bottom: 3rem;
}

h1 {
    font-weight: 300;
    font-size: 3.5rem;
    margin-left: 9.25%;
    margin-top: 52px;
    color: #3B628B;
}
h1, h3 {
    font-weight: 300;
    margin-left: 9.25%;
    margin-top: 52px;
    color: #3B628B;
}
    .subtitle {
        font-weight: 300;
        font-size: 1.4rem;
        margin-left: 9.25%;
        margin-right: 18.4%;
        color: #3B628B;
    }
    .text {
        color: black;
        margin-left: 9.25%;
        margin-right: 8.4%;
        font-size: 1.25rem;
        font-weight: 300;
    }
    .bold {
        font-weight: 400;
    }
.airtable {
    width: 70%;
    height: 600px;
}
