.jumbotron {
  border-radius: 0;
  margin: 0px;
  height: 106%;
}

.row {
  height: 100%;
}

.professional-image {
  width: 30%;
}

.side-profile {
  /* border:1px solid black; */
}
.side-profile-photo {
  width: 65%;
  margin: 0.7rem 0 2rem 0;
}
