@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 823px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .text {
        margin-bottom: 1rem;
    }
    .sidebar-button {
        font-size: 14px;
    }
    #card {
        width: 92%;
    }
    .card-columns {
        column-count: 3;
    }
        .card-header {
            font-size: 32px;
        }
            .card-text {
                font-size: 16px;
            }
                .item-description {
                    height: 4.2rem;
                    font-size: 16px;
                }
}