html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: #7a98af;
  font-family: "Josefin Sans", sans-serif;
}

/* Button Styling */
.btn-primary {
  background-color: white;
  border-color: white;
  color: #3b628b;
  font-size: 16px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #7a98af;
  border-color: #7a98af;
}

.btn-lg {
  height: 4em;
}

.btn-sm {
  font-size: 18px;
  color: #7A98AF;
}

.btn-block {
  padding: 16px;
  border-radius: 5px;
}

.homepage-link {
  border: 1px solid #3B628B;
}

/* Navbar */
.navbar {
  padding: 0.8rem;
  background-color: #7a98af;
}
.navbar.white-bg {
  color: #3B628B;
  background-color: white;
}
.navbar #old-header .nav-link {
  color: white !important;
}

.navbar-custom {
  color: white;
}

.navbar img {
  height: 40px;
  width: 40px;
  margin-top: -1px;
  margin-bottom: 5px;
}

.navbar-logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 15px;
}

.navbar-nav li {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  color: #3B628B;
}

.nav-link:hover {
  color: #b0d7d7 !important;
}

.active {
  color: #3B628B !important;
}

/* First section of homepage */
.homepage-logo {
  width: 34%;
  max-width: 600px;
}

.homepage-one {
  padding-top: 25px;
  background-color: white;
  text-align: center;
  z-index: 0;
  position: relative;
}
.homepage-one .headerimg-left, .homepage-one .headerimg-right {
  position: absolute;
  z-index: -9;
  max-width: 160px;
}
.homepage-one .headerimg-left {
  left: 40px;
  top: -50px;
}
.homepage-one .headerimg-right {
  right: 70px;
  top: -60px;
}
@media (max-width: 767.98px) {
  .homepage-one .headerimg-left, .homepage-one .headerimg-right {
    display: inline-block;
    position: static;
    margin-top: 20px;
  }
}

.homepage-intro {
  color: #3b628b;
  font-size: 20px;
  padding: 25px 20% 0 20%;
}

.search-bar {
  width: 21rem;
  margin: 0 1rem;
}
.search-bar a {
  text-decoration: none;
}

.button-box {
  display: flex;
  justify-content: center;
}

#homepage-about {
  background-color: white;
  z-index: 999;
  position: relative;
  padding: 0 14%;
}

.about {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
}

.about h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 67px;
  font-weight: 300;
  padding-top: 50px;
}

.about p {
  font-size: 24px;
  padding-bottom: 55px;
  font-weight: 300;
}

.container {
  padding-top: 50px;
}

.btn-primary:hover {
  background-color: #7a98af;
  border-color: #7a98af;
}

.airtable-embed {
  padding-top: 30px;
}

.bottom {
  margin-bottom: 100px;
  margin-top: 70px;
}

.choice {
  font-size: 24px;
  line-height: 24px;
  color: #3B628B;
}

.profession-button {
  width: 80%;
  margin: auto;
}

.divider {
  width: 10%;
}

/* .footer {
	background-color: #7a98af;
} */
.nav-container .navbar-nav {
  float: none;
  vertical-align: top;
  border-bottom: 1px solid #3B628B;
}
.nav-container .navbar-collapse {
  text-align: center;
}
.nav-container .navbar-toggler {
  margin: 10px 0;
}

@media (min-width: 767.98px) {
  .nav-container {
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .nav-container {
    border-bottom: 1px solid #3B628B;
  }
}
.background-images .headerimg-left {
  position: absolute;
}
.background-images .headerimg-right {
  position: absolute;
}

#carousel-section {
  border-bottom: 3px solid #7a98af;
  background-color: white;
}
#carousel-section #card-carousel-container {
  padding-top: 50px;
  width: 70vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
#carousel-section #card-carousel-container .carousel-card-hidden {
  opacity: 0;
  position: absolute;
  left: 100vw;
}
#carousel-section #card-carousel-container .carousel-card-header {
  font-size: 1em;
  text-align: center;
}
#carousel-section #card-carousel-container .carousel-card-body {
  margin: 1%;
  padding: 0px;
}
#carousel-section #card-carousel-container .landing-carousel-card {
  margin: auto;
  font-size: 0.7em;
  background-color: white;
  justify-content: flex-start;
  padding: 1%;
  max-height: 60vh;
  max-height: 60vh;
  width: 28%;
  overflow-y: scroll;
  top: 40px;
  transition: all 1.5s ease, opacity 0.2s ease;
  border: 3px solid #7a98af;
  border-radius: 12px;
}
#carousel-section #card-carousel-container .carousel-card-img {
  max-height: 10vh;
  width: auto;
  object-fit: contain;
}
#carousel-section #card-carousel-container .presenting-card-0 {
  position: absolute;
  left: -50vw;
  opacity: 0;
  transform: scale(0.7);
}
#carousel-section #card-carousel-container .presenting-card-1 {
  position: absolute;
  left: 4%;
  opacity: 1;
  transform: scale(0.7);
}
#carousel-section #card-carousel-container .presenting-card-2 {
  position: absolute;
  left: 36%;
  margin-top: auto;
  opacity: 1;
  top: 0px;
}
#carousel-section #card-carousel-container .presenting-card-3 {
  position: absolute;
  opacity: 1;
  left: 68%;
  transform: scale(0.7);
}
#carousel-section #card-carousel-container .presenting-card-4 {
  position: absolute;
  left: 100vw;
  opacity: 0;
  transform: scale(0.7);
}
#carousel-section #card-carousel-container .landing-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
#carousel-section #card-carousel-container .carousel-btn {
  width: 5%;
  height: 100%;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#carousel-section #card-carousel-container .carousel-btn button {
  z-index: 999;
}
#carousel-section #card-carousel-container .carousel-btn button:focus {
  outline: 0;
}

footer {
  background-color: #7a98af;
  color: white;
  padding: 20px;
  text-align: center;
}

.navLogoutLink {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
