html,
body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	/* background-color: #b0d7d7; */
	/* background: linear-gradient(180deg, #B0D7D7 64.58%, rgba(207, 231, 231, 0.61) 89.58%, rgba(255, 255, 255, 0) 100%); */
	background: #b0d7d7;
	margin-bottom: 200px;
}

.navbar {
	padding: 0.8rem;
	color: white;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.5em;
	color: white!important;
}
.navbar img{
	max-width: 302px;
}

.navbar-logo {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	width: 15px;
}

.navbar-custom {
	color: white;
	background-color: #7a98af!important;
}

/* First section of homepage */
.homepage-one {
	padding-top: 50px;
	background-color: #b0d7d7;
	text-align: center;
	padding-bottom: 50px;
}

.homepage.about {
	background-color: #7a98af;
	color: white;
	padding-left: 100px;
	padding-right: 100px;
}

.homepage.about.h1 {
	padding-top: 35px;
	font-size: 48px;
	font-family: "Acumin Variable Concept";
}

.homepage.about.p {
	font-size: 20px;
	padding-bottom: 35px;
}


.homepage-intro {
	padding-top: 20px;
	color: #3b628b;
	font-size: 24px;
	padding-left: 20%;
	padding-right: 20%;
}

.container {
	padding-top: 50px;
}

.btn-primary {
	background-color: white;
	border-color: white;
	color: #3b628b;
	font-size: 18px;
	margin-top: 10px;
}

.btn-lg {
	height: 4em;
}

.btn-primary:hover {
	background-color: #7a98af;
	border-color: #7a98af;
}

.airtable-embed {
	padding-top: 30px;
}

.footer {
	background-color: #7a98af;
}