# General things to ignore
.DS_Store
*/.DS_Store
.idea
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# AWS Authentication files
credentials.csv
firebase-debug.log
.firebase/hosting..cache
id_rsa*
.firebase