	<!-- BEGINNING OF CAROUSEL CARDS CODE -->
		<div id="inner-carousel-container">
			<div id="card-carousel-left" class="carousel-btn">
				<button type="button" id="card-carousel-right-btn" class="btn">
					<img style="transform: rotate(-90deg);" src="../img/arrow-dropdown.png"/>
				</button>
			</div>

			<div id="card-carousel" class="landing-carousel"></div>

			<div id="card-carousel-right" class="carousel-btn">
				<button type="button" id="card-carousel-left-btn" class="btn">
					<img style="transform: rotate(90deg);" src="../img/arrow-dropdown.png"/>
				</button>
			</div>
		</div>
		<img id="carousel-img" src="./img/landing_page.png"/>

<!-- END OF CAROUSEL CARDS CODE-->