#makerspace-section {
  border-bottom: 0;
  background-color: transparent;
}

#makerspace-card-certified-label {
  background-color: #6BA48C;
  position: absolute;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  left: 20px;
  bottom: 20px;
}

#makerspace-card-image-container {
  position: relative;
}

#makerspace-card-tag {
  background-color: #3B628B;
  display: inline-block;
  border-radius: 2px;
  font-size: 0.75rem;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
}

#makerspace-card-tag-container {
  padding: 10px;
}
