.form_button {
	padding: 20px;
	width: 250px;
	margin: 10px;
	border: none;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	text-align: center;
}

.form_button:focus {
	outline: none;
}

.form_button--selected {
	background-color: #7a98af;
	outline: 0;
	color: white;
}
