.get_started_page {
	margin: auto;
	max-width: 700px;
}

/* TODO: move these to a new component */
.form_step {
	margin: auto;
	margin-top: 50px;
	text-align: center;
}

.form_label {
	margin-bottom: 10px;
}