.get_started_page {
	margin: auto;
	font-size: 16pt;
}

.get_started__form {
	max-width: 850px;
	margin: auto;
}

.get_started__search_results {
	margin-top: 20px;
}

@media only screen and (min-width: 600px) {
	.get_started__search_results {
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin: auto;
		max-width: 1200px;
	}
}

/* TODO: move these to a new component */
.form_step {
	margin: 50px auto auto;
	text-align: center;
}

.form_label {
	margin-bottom: 10px;
}
.continue_button {
	background-color: transparent;
	border: none;
	outline: none;
}
